@{
    ViewBag.ActiveMenu = PageNames.About; //The menu item will be active for this page.
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Sigue las instrucciones para jugar la Quiniela Oficial de Gálac  Software Copa America  2019™.
                </h2>
            </div>
            <div class="body">
                 
                <h3>CÓMO JUGAR?</h3>

                <p>
                    1 Punto por prediccion de partido correcta
                </p>

                <p>
                    3 Puntos por prediccion de partido y puntaje correcta
                </p>

                
            </div>
        </div>
    </div>
</div>