@using Abp.Web.Mvc.Extensions
@using System.Web.Optimization
@model QuinelaWeb.Web.Models.Quinelas.QuinelaInvitarViewModel

@{
    ViewBag.Title = "Invitar";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<h2>Invitar</h2>
@using (Html.BeginForm()) {
    /**/
    @Html.AntiForgeryToken()

    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>Comparte tu pasión por el fútbol.<span class="fa fa-share"></span></h2>
                </div>
                <div class="body bg-blue-grey">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-center">
                            <div class="input-group">
                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = " @Ingrese correo electronico de su amigo" } })
                                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-send"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

